// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// https://github.com/ElemeFE/element/issues/12951
$menuText:#fff;
$menuActiveText:#fff;
$subMenuActiveText:#fff;

$menuAllBg:#03a9ac;
$menuBg:#14b0b2;
$menuHover:#2f999a;
$menuActive:#098587;

$subMenuBg:#3BBFC1;
$subMenuHover:#2f999a;
$subMenuActive:#098587;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuAllBg: $menuAllBg;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuActive: $menuActive;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuActive: $subMenuActive;
  sideBarWidth: $sideBarWidth;
}
